POSTGRES_DB=documents_db
POSTGRES_USER=documents_user
POSTGRES_PASSWORD=documents_pass
POSTGRES_PORT=5432

API_PORT=8141

PGADMIN_DEFAULT_EMAIL=admin@test.com
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_PORT=5050